body {
    padding-top: 80px;
    background-image: url(img/space.jpg);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 75px 0;
}

footer .text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .text p.company,
footer .text p.copyright {
    color: rgb(197, 197, 197);
    text-align: center;
}

footer .text a {
    color: rgb(197, 197, 197);
    text-decoration: none;
}

footer .text a:hover {
    color: rgb(155, 155, 155);
    text-decoration: underline;
}

#navbar {
    transition: 0.3s ease;
    background-color: #01051d;
}

#navbar .nav-link {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#navbar.scrolled {
    background-color: #000000;
    opacity: 25%;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    filter: invert(1);
}

#navbar .nav-link:hover {
    color: #33184d;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    .home1 {
        padding: 10px;
        min-height: auto;
    }

    .text2 {
        font-size: 18px;
        text-align: center;
    }

    .title {
        font-size: 50px;
    }

    p {
        margin: 0 20px;
    }

    footer .container {
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    footer .text {
        margin-bottom: 20px;
        text-align: center;
    }

    footer .text a,
    footer .text p.copyright {
        font-size: 14px;
    }

    #navbar {
        padding: 10px;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-toggler {
        margin-left: auto;
    }

    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav .nav-item {
        margin: 5px 0;
    }
}

.comp {
    height: 300px;
}

.over {
    font-size: 50px;
}

.cc {
    margin-top: 15px;
    margin-left: -200px;
    font-size: 40px;
}

h1 {
    color: white;
}

p {
    color: white;
    font-size: 20px;
    margin: 0 50px;
}